<div class="alert alert-success" role="alert" [hidden]="!alertCadastroRealizado">
  <strong>Sucesso</strong> Cadastro Realizado Com Sucesso
</div>
<div class="alert alert-danger" role="alert" [hidden]="!alertNaoFoiPossivelCadastro">
  <strong>Erro</strong> Não foi possível realizar o cadastro, tente novamente mais tarde.!
</div>

<div *ngIf="nomeCompleto.errors && (nomeCompleto.dirty || nomeCompleto.touched)" class="alert alert-danger">
  <div [hidden]="!nomeCompleto.errors.required">
    Nome do cliente é exigido
  </div>
</div>
<div *ngIf="limiteCredito.errors && (limiteCredito.dirty || limiteCredito.touched)" class="alert alert-danger">
  <div [hidden]="!limiteCredito.errors.required">
    Limite de crédito é necessário
  </div>
  <div [hidden]="!limiteCredito.errors.max">
    Limite de crédito deve ser até no máximo R$250.000,00
  </div>
</div>

<form class="example-container" (ngSubmit)="cadastrar()" #clienteForm="ngForm">

  <mat-form-field>
    <input matInput placeholder="Nome Completo" [(ngModel)]="cliente.nomeCompleto" name="nomeCompleto"
           #nomeCompleto="ngModel" required>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Limite De Crédito" currencyMask [(ngModel)]="credito.limite"
           [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" min="0" max="250000" name="limiteCredito"
           #limiteCredito="ngModel" required>
  </mat-form-field>

  <label for="risco">Risco</label>
  <select id="risco" class="form-control" [(ngModel)]="cliente.risco" name="risco" required>
    <option selected>Escolha</option>
    <option *ngFor="let risco of riscos">{{risco}}</option>
  </select>

  <button mat-raised-button type="submit" class="btn btn-primary"
          [disabled]="!clienteForm.form.valid || cliente.risco == 'Escolha'">
    Cadastrar Cliente
  </button>
</form>
