.example-container {
  margin-top:20px;
  display: flex;
  flex-direction: column;
}

.example-container > * {
  width: 100%;
}

.example-container form {
  margin-bottom: 20px;
}

.example-container form > * {
  margin: 5px 0;
}

.example-container {
  margin: 0 5px;
}

.example-container button {
  margin-top: 30px;
}
