<div ngClass="container">

  <div class="jumbotron">
    <h1 align="center" class="display-4">Camada Visual Com Angular</h1>
  </div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="informacao" routerLinkActive="active">SRM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="clientes" routerLinkActive="active">Clientes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cadastrar" routerLinkActive="active">Cadastrar Cliente</a>
        </li>
      </ul>
    </div>
  </nav>

  <router-outlet></router-outlet>

</div>

