
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef> ID. </th>
    <td mat-cell *matCellDef="let cliente"> {{cliente.id}} </td>
  </ng-container>

  <ng-container matColumnDef="Nome Completo">
    <th mat-header-cell *matHeaderCellDef> Nome Completo </th>
    <td mat-cell *matCellDef="let cliente"> {{cliente.nomeCompleto}} </td>
  </ng-container>

  <ng-container matColumnDef="Risco">
    <th mat-header-cell *matHeaderCellDef> Risco </th>
    <td mat-cell *matCellDef="let cliente"> {{cliente.risco}} </td>
  </ng-container>

  <ng-container matColumnDef="Limite de Crédito">
    <th mat-header-cell *matHeaderCellDef> Limite de Crédito </th>
    <td mat-cell *matCellDef="let cliente"> {{cliente.credito.limite | currencyFormatPipe}} </td>
  </ng-container>

  <ng-container matColumnDef="Taxa de Juros">
    <th mat-header-cell *matHeaderCellDef> Taxa de Juros </th>
    <td mat-cell *matCellDef="let cliente"> {{cliente.credito.juros}}<strong>%</strong></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
